createdAt: "2019-09-03T18:35:04.207Z"
updatedAt: "2020-02-07T17:35:42.120Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "Getting Information About Tables in IBM DB2"
tags: [
  "ibm"
  "cloud"
  "db2"
]
content: '''
  # Getting Information About Tables in IBM DB2
  
  ### List all tables created
  ```sql
  SELECT tabschema, tabname, create_time
  FROM syscat.tables
  WHERE tabschema='QPV73871'
  ;
  ```
  
  ### Display structure of one table
  ```sql
  SELECT *
  FROM syscat.columns
  WHERE tabname='JOBS'
  ;
  ```
  
  ### Get information about columns in one table
  ```sql
  SELECT distinct(name), coltype, length
  FROM sysibm.syscolumns
  WHERE tbname = 'JOBS'
  ;
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
