createdAt: "2020-02-13T17:40:13.522Z"
updatedAt: "2020-02-14T17:27:23.528Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "Deployment"
tags: [
  "web_development"
  "deployment"
  "minification"
  "concatenation"
  "uglification"
]
content: '''
  # Deployment
  
  Web development consists of several repeptitive tasks that we want to automate.
  
  ## Web development tasks
  
  ### CSS Tasks
  - compailing `Sass` or `Less` into `CSS`
  - running Autoprefixer to add any vendor prefixes that are needed
  - minifaction (removing unnecessary characters: white spaces, new line, comments)
  - concatenation (merging several css files into one)
  
  ### JavaScript Tasks
  - `JSHint`, checking JavaScript code for errors
  - concatenation
  - uglification: minification + mangling (reduce local variables to single letters)
  
  ### Other tasks
  - images: optimizing files to reduce file size
  - watch: watching for changes in files and automatically rerunnig tasks
  - server and livereload (to follow changes during development, `lite server` is a solution for that)
  - testing
  - building site for deployment also called builing up distribution files
  
  
  ## Automate tasks by `NPM Scritps`
  - found in the `scripts` property in the `package.json` file
  - `npm start` will run the script under `"start":`
  - other scripts can be run by the `npm run <scriptName>`command
  
  ### Setup file watch
  - A scripts is needed to watch file for any changes so when a change happens it can trigger the necessary scripts
  - The `Watch` npm module could be used for this purpose
  - We instlall the `Onchange` npm module to do the job
    - run `npm install install --save-dev onchange`
    - in `package.json` add to the `scripts` property the line:
    `"watch:scss": "onchange 'css/*.scss' -- npm run scss"`
    (in windows use `\\"css/*.scss\\"`)
    When `npm run watch:scss` is run later, it will watch every `.scss` file in the `css` directory and if any changes happen it will run `npm run scss` to update the css files.
  
  ### Setup running multiple scripts at once
  - `Parallelshel` allows us to execute multiple npm scritps in paralell shells
  - To install it run: `npm install --save-dev parallelshell`
  - In `package.json` add to the `scripts` property:
  `"watch:all": "paralellshell 'npm run watch:scss' 'npm run lite'"`
  (use `\\"` instead of `'` on windows)
  - to use paralellshell change `"start"` in the `scripts` property to:
  `"start": "npm run watch:all"`
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
