createdAt: "2020-01-24T18:58:41.279Z"
updatedAt: "2020-02-14T21:35:07.682Z"
type: "MARKDOWN_NOTE"
folder: "7b7225fb954665754643"
title: "How to use Bootstrap with you project"
tags: [
  "bootstrap"
  "npm"
]
content: '''
  ## How to use Bootstrap with you project
  
  #### Set up your project to use npm
  See note about npm.
  
  #### Use npm to install Bootstrap
  - Run: `npm install bootstrap --save`
  - As bootstrap is dependent on JQuery and Popper.js also run:
    - `npm install jquery --save`
    - `npm install popper.js --save`
  
  
  #### Set up your web page to use Bootstrap
  1. in the `<head>` section
    - Link Bootstrap as stylesheet:
  `<link rel="stylesheet" href=".\\node_modules\\bootstrap\\dist\\css\\bootstrap.min">`
  
  2. in the `<script>` section
  -Add js components as `<script>` just above the closing `<\\body>` tag in the following order:
    - jquery first:
  `<script src="node_modules\\jquery\\dist\\jquery.slim.min.js"><\\script>`
    - then popper:
  `<script src="node_modules\\popper.js\\dist\\umd\\popper.min.js"><\\script>`
    - then bootstrap:
  `<script src="node_modules\\bootstrap\\dist\\js\\bootstrap.min.js"><\\script>`
  
  ### Grid system
  - to use the `grid` system you have to enclose you content into a `.container` class
    
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
