createdAt: "2020-03-25T20:31:42.041Z"
updatedAt: "2020-03-25T20:31:42.041Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
