createdAt: "2019-10-26T17:46:39.605Z"
updatedAt: "2020-02-07T17:35:32.159Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "to have http.server log onto the screen use the -u tag:"
tags: [
  "python"
  "http.server"
]
content: '''
  to have http.server log onto the screen use the `-u` tag:
  ```ptyhon
  python -u -m http.server 8000
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
