createdAt: "2020-01-29T20:25:43.320Z"
updatedAt: "2020-01-30T16:30:37.418Z"
type: "MARKDOWN_NOTE"
folder: "0502aa55141f2315e808"
title: "Security in AWS"
tags: [
  "aws"
  "iam"
  "security"
]
content: '''
  # Security in AWS
  
  ### The `root` user
  - the email address you use to sign up for your account becomes your `root` level account and has full access and permissions to any and everything in your account
  - don't use `root` user credentials for everyday access
  
  ### Securing `root` account
  - use `MFA` Multi Factor Authentication
  
  ## `IAM` (Identity & Access Management)
  `IAM` is an AWS service, that allows us to configure who can access our AWS account, services or applications running in our account.
  
  It's a global service, that is automatically available.
  
  ### `IAM User`
  - an `IAM` user is an entity you create that can represent a person or a service that interacts with services or applications running in the AWS account
  - a user consists of a:
      - user name
      - access credentials
  
  ### `IAM Group`
  - is a collection of users
  - can specify permissions for a collections
  - makes permission easier to manage
  
  ### `IAM Role`
  - an identity with permissions or a set of privileges
  - not associated with a specific `IAM user` or `IAM group`
  - roles can be attached to a user
  - user can assume a single role temporarily to perform a specific task
  
  ### `Policy`
  - is a way to define granular level permission
  - written in JSON
  - can be attached to:
    - users
    - groups
    - roles
  - AWS has predifined list of policies
  - you can add custom ones:
      - Navigate to IAM
      - Click `Policies` on left panel, than `Create Policy`
      - Next to `Service` click `Choose a service`
      - Type `S3` in the box, click `Enter`, select `S3` from list
      - Under `Actions` in the `Access Level` section
        - Click on `List`
        - Expand `Read` and select `GetObject`
      - Expand the `Resources` section
        - Ensure `Specific` is selected
        - Select the `Any` checkpoxed next to `bucket` and `object`
      - Click `Review Policy`
      - Enter `Name` for policy
      - Click `Create Policy`
  
  
  ## `EC2 Security Group`
  - NOT part of `IAM`, NOT an `IAM Security Group`
  - are assicated with an `EC2` instance
  - act an as a built-in firewall
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
